@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SimpleContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="circuit" class="parallax-container valign-wrapper pad-top">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h2 class="header col s12 bold blue-grey-text text-darken-3">Circuit training</h2>
            <h5 class="header col s12 black-text">“Denk je dat je niet fit genoeg bent om mee te doen? Denk nog eens na!"</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/images/background4.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <p class="left-align light">Bij deze training voer je verschillende oefeningen uit binnen een korte periode met minimale rust. Bij de workouts wordt gebruik gemaakt van attributen als battleropes en kettlebells maar vooral ook het eigen lichaamsgewicht. Door de hoge intensiteit word je uitgedaagd om maximaal te presteren. De lessen zijn zo ingericht dat iedereen ongeacht hun fitness niveau kan meedoen.</p>
            <p class="left-align light">Circuittraining wordt gegeven op de dinsdagavond van 20:00 tot 21:00 in de gymhal op de Stalpaertstraat 3 in Alkmaar.</p>
            <p class="left-align light">Klik <a href="#abonnementen">hier</a> om te zien welke abonnementen beschikbaar zijn.</p>
            <p class="left-align">Let op! In <a href="https://www.rijksoverheid.nl/onderwerpen/schoolvakanties/vraag-en-antwoord/wanneer-zijn-de-schoolvakanties-in-2017-2018" target="_blank">de schoolvakanties van regio Noord</a> is er geen circuittraining.</p>
          </div>
        </div>
      </div>
    </div>