<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT contentPageWithParallax ANY>
<!ATTLIST contentPageWithParallax id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="f0eba527-30ee-4297-bf9f-fa23b3fa5de7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-15T21:19:55" updateDate="2018-06-17T12:00:11" nodeName="Homepage" urlName="homepage" path="-1,1064" isDoc="" nodeType="1063" creatorName="Stefan" writerName="Stefan" writerID="0" template="1062" nodeTypeAlias="homePage" isPublished="true">
    <footerText><![CDATA[Widgets Ltd 2014]]></footerText>
    <contentPageWithParallax id="1086" key="637ee40e-6584-4967-a21c-5a29749efb0d" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2018-06-17T09:48:46" updateDate="2018-06-17T12:00:27" nodeName="Circuit Training" urlName="circuit-training" path="-1,1064,1086" isDoc="" nodeType="1080" creatorName="Stefan" writerName="Stefan" writerID="0" template="1079" nodeTypeAlias="contentPageWithParallax" isPublished="true">
      <parallaxTitle><![CDATA[Circuit Training]]></parallaxTitle>
      <parallaxImage><![CDATA[umb://media/565b7a9901ab43c58a149b5bc8336b1d]]></parallaxImage>
      <parallaxSubscript><![CDATA[<p>"Denk je dat je niet fit genoeg bent om mee te doen? Denk nog eens na!"</p>]]></parallaxSubscript>
      <bodyText><![CDATA[<p class="left-align light">Bij deze training voer je verschillende oefeningen uit binnen een korte periode met minimale rust. Bij de workouts wordt gebruik gemaakt van attributen als battleropes en kettlebells maar vooral ook het eigen lichaamsgewicht. Door de hoge intensiteit word je uitgedaagd om maximaal te presteren. De lessen zijn zo ingericht dat iedereen ongeacht hun fitness niveau kan meedoen.</p>
<p class="left-align light">Circuittraining wordt gegeven op de dinsdagavond van 20:00 tot 21:00 in de gymhal op de Stalpaertstraat 3 in Alkmaar.</p>
<p class="left-align">Let op! In <a rel="noopener" href="https://www.rijksoverheid.nl/onderwerpen/schoolvakanties/vraag-en-antwoord/wanneer-zijn-de-schoolvakanties-in-2017-2018" target="_blank">de schoolvakanties van regio Noord</a> is er geen circuittraining.</p>
<div id="abonnementen" class="row center pad-top">
<h3 class="header col s12 bold blue-grey-text text-lighten-1">Abonnementen voor circuittraining &amp; running</h3>
</div>
<div class="row">
<div class="col s12 m4 offset-m2">
<div class="card blue-grey darken-1">
<div class="card-content white-text"><span class="card-title">Budget</span>
<p>1x per week (1x circuittraining óf 1x running)</p>
<p>€22,50 per maand</p>
</div>
<div class="card-action"><a rel="noopener" href="https://www.personaltrainerapp.nl/p/3482" target="_blank">Aanmelden!</a></div>
</div>
</div>
<div class="col s12 m4">
<div class="card blue-grey darken-1">
<div class="card-content white-text"><span class="card-title">Basic</span>
<p>2x per week (1x circuittraining én 1x running)</p>
<p>€30,00 per maand</p>
</div>
<div class="card-action"><a rel="noopener" href="https://www.personaltrainerapp.nl/p/3542" target="_blank">Aanmelden!</a></div>
</div>
</div>
</div>]]></bodyText>
    </contentPageWithParallax>
    <contentPageWithParallax id="1088" key="827f5c14-d083-4b6c-891d-b44e2cdc192b" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2018-06-17T10:12:08" updateDate="2018-06-17T12:00:33" nodeName="Running" urlName="running" path="-1,1064,1088" isDoc="" nodeType="1080" creatorName="Stefan" writerName="Stefan" writerID="0" template="1079" nodeTypeAlias="contentPageWithParallax" isPublished="true">
      <parallaxTitle><![CDATA[Running]]></parallaxTitle>
      <parallaxImage><![CDATA[umb://media/4c734326ecbb425fb22f286734ab4074]]></parallaxImage>
      <parallaxSubscript><![CDATA[<div class="row center"><a id="running-button" rel="noopener" href="https://www.personaltrainerapp.nl/p/3482" target="_blank" class="btn-large waves-effect waves-light blue-grey darken-3">Get Started!</a></div>]]></parallaxSubscript>
      <bodyText><![CDATA[<p class="left-align light">Met een goede looptechniek kan je de kans op blessures verminderen. Je (loop)prestaties en het plezier in hardlopen zullen verbeteren. Bij VitaSupport leer je niet alleen de juiste techniek aan, maar werk je tevens aan je kracht en core stability.</p>
<p class="left-align light">Ben je een meer gevorderde hardloper en heb je interesse in een leuke groepstraining? Meld je nu aan en ontvang de eerste maand 50% korting! Druk op de knop hierboven en vul de kortingscode Vitasup01 in!</p>
<p class="left-align light">Mocht je twijfelen of je de tempo’s aan kunt in de groep of heb je liever individuele hardloopbegeleiding? Dan is het uiteraard ook mogelijk om een paar aparte sessies te boeken of je aan te melden voor <a data-udi="umb://document/f0eba52730ee4297bf9ffa23b3fa5de7" href="/{localLink:umb://document/f0eba52730ee4297bf9ffa23b3fa5de7}" title="Homepage">personal training</a>.</p>
<div id="abonnementen" class="row center pad-top">
<h3 class="header col s12 bold blue-grey-text text-lighten-1">Abonnementen voor circuittraining &amp; running</h3>
</div>
<div class="row">
<div class="col s12 m4 offset-m2">
<div class="card blue-grey darken-1">
<div class="card-content white-text"><span class="card-title">Budget</span>
<p>1x per week (1x circuittraining óf 1x running)</p>
<p>€22,50 per maand</p>
</div>
<div class="card-action"><a rel="noopener" href="https://www.personaltrainerapp.nl/p/3482" target="_blank">Aanmelden!</a></div>
</div>
</div>
<div class="col s12 m4">
<div class="card blue-grey darken-1">
<div class="card-content white-text"><span class="card-title">Basic</span>
<p>2x per week (1x circuittraining én 1x running)</p>
<p>€30,00 per maand</p>
</div>
<div class="card-action"><a rel="noopener" href="https://www.personaltrainerapp.nl/p/3542" target="_blank">Aanmelden!</a></div>
</div>
</div>
</div>]]></bodyText>
    </contentPageWithParallax>
    <contactPage id="1096" key="19d694e3-71b7-4bdb-95c8-817552a581c2" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2018-06-17T10:26:26" updateDate="2018-06-17T12:00:38" nodeName="Contact" urlName="contact" path="-1,1064,1096" isDoc="" nodeType="1095" creatorName="Stefan" writerName="Stefan" writerID="0" template="1094" nodeTypeAlias="contactPage" isPublished="true" />
  </homePage>
</root>